$color1: #000000;
$color2: #5b9bd5;
$color3:  #ff7b00;
$color4:  #f0f0f0;
$color5:  #ffbf6b;
$color6: #ff7c5f;
$color7: rgb(134, 134, 134);
$color8: #4a5561;

$font0: 0.5em;
$font1: 0.8em;
$font2: 1em;
$font3: 1.3em;
$font4: 1.5em;
$font5: 1.8em;
$font6: 2em;
$font7: 2.3em;
$font8: 2.5em;
$font9: 2.8em;
$font10: 3em;





